@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
   font-family: 'Roboto', sans-serif;
   background-repeat: no-repeat;
   background-size: cover;
   /* background: filter(blur(10px)); */
}

form{
   display: flex;
   flex-direction: column;
   border: 3px solid black;
   border-radius: 1rem;
   background-color: rgba(203, 228, 228, 0.9);
   padding: 0.5rem;
}

.form-ctn{
   width: min-content;
   
}

#display-forecast{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 0.5rem;
   grid-template-rows: auto;
}

.card{
   padding: 0.5rem;
   max-width: 150px;
   border: 3px solid black;
   border-radius: 1rem;
   background-color: rgba(203, 228, 228, 0.9);
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

